# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
/bin/
/sambacrm-business-tg

# Test binary
*.test

# Output of the go coverage tool
*.out

# Env
.env

# Secrets
secrets/*.txt
!secrets/.gitkeep

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
