name: Build and Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout репозитория
      - name: Checkout repository
        uses: actions/checkout@v3

      # 2. Войти в Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # 3. Настройка Go
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.23'

      # 4. Кэш Go модулей (оптимизация)
      - name: Cache Go modules
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      # 5. Кэш слоёв Docker
      - name: Cache Docker layers
        uses: actions/cache@v3
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-docker-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-docker-

      # 6. Сборка Docker-образа с пробросом секретов
      - name: Build Docker image
        run: |
          docker build \
            --build-arg DATABASE_URL=${{ secrets.DATABASE_URL }} \
            --build-arg REDIS_HOST=${{ secrets.REDIS_HOST }} \
            --build-arg REDIS_PORT=${{ secrets.REDIS_PORT }} \
            --build-arg REDIS_USER=${{ secrets.REDIS_USER }} \
            --build-arg REDIS_PASSWORD=${{ secrets.REDIS_PASSWORD }} \
            -t ${{ secrets.DOCKER_USERNAME }}/sambacrm-business-tg:${{ github.sha }} .
          docker tag ${{ secrets.DOCKER_USERNAME }}/sambacrm-business-tg:${{ github.sha }} ${{ secrets.DOCKER_USERNAME }}/sambacrm-business-tg:latest

      # 7. Публикация Docker-образа
      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/sambacrm-business-tg:${{ github.sha }}
          docker push ${{ secrets.DOCKER_USERNAME }}/sambacrm-business-tg:latest
